.sidebarCollapse{
    cursor: pointer;
    border: none;
    background: none;
}

.sidebarCollapse:hover,
.sidebarCollapse:focus,
.sidebarCollapse:active{
    outline: none;
    border: none;
}

[name='fixed-nav-top-horizontal'] {
    background: #123759;
    margin-bottom: 15px;
    height: 68px;
}

[name='btnSair'] {
    background: #123759;
    outline: none;
    border: none;
    cursor: pointer;    
}
[name="header-logo"]{
    cursor: pointer;
}

[name="sair"]{
    margin-right: 43px;
}

